body {
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 375px;
    height: 812px;
    /* UI Properties */
    background: transparent linear-gradient(205deg, #49495D 0%, #282840 47%, #25253D 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #2adc9f;
    /* Color del título */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hidden {
    display: none;
}

h2 {
    /* Layout Properties */
    top: 136px;
    left: 34px;
    width: 247px;
    height: 0rem;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 15px/17px Gotham;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 1rem;
}

/* Estilos para el  h1 y strong */
#cotizar h1 {
    top: 0px;
    left: 0px;
    height: 26px;
    text-align: left;
    font: normal normal 300 24px/26px Gotham;
    letter-spacing: 0px;
    color: #2ADC9F;
    margin-left: 1rem;
}

#cotizar h1 strong {
    top: 0px;
    left: 93px;
    width: 57px;
    height: 26px;
    text-align: left;
    font: normal normal bold 24px/26px Gotham;
    letter-spacing: 0px;
    color: #2ADC9F;
}

/* Estilos para el switch */
.switch-container {
    position: absolute;
    top: 297px;
    left: 123px;
    width: 130px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    /* Comienza visible */
    z-index: 3;
    /* Asegurar que esté encima inicialmente */
    transition: opacity 0.3s ease;
    /* Transición suave para ocultar */
}

.switch-container.hidden {
    opacity: 0;
    /* Hacerlo invisible suavemente */
    z-index: 1;
    /* Moverlo detrás del rectángulo */
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 30px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 3px;
    width: 58px;
    height: 26px;
    background: transparent linear-gradient(67deg, #2ADC9F 0%, #099E8F 100%) 0% 0% no-repeat padding-box;
    border-radius: 20px;
    transition: .4s;
}

input:checked+.switch-slider {
    transform: translateX(66px);
}

.switch-label-left,
.switch-label-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -1px;
    z-index: 1;
    /* Asegura que las etiquetas estén por encima del slider */
}

.switch-label-left {
    left: 20px;
    color: #FFFFFF;
}

.switch-label-right {
    right: 22px;
    color: #303047;
}

/* Estilos para el campo de DNI */
.dni-container {
    position: absolute;
    /* Cambiar a absolute para posicionarlo correctamente */
    top: 350px;
    /* Posición inicial */
    left: 31px;
    width: 290px;
    height: 59px;
    background: #FFFFFF;
    border-radius: 30px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 3;
    overflow: hidden;
    transition: all 0.5s ease;
    /* Transición para la transformación */
}

.dni-container.expanded {
    top: 297px;
    /* Expande hacia arriba hasta donde termina el switch */
    height: 226px;
    /* Ajustar altura total */
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: visible;
    /* Permitir que el contenido sea visible */
}

.dni-input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font: normal normal 300 14px/15px Gotham;
    color: #15224F;
    opacity: 0.5;
    transition: opacity 0.5s ease;
    /* Transición para ocultar */
}

.dni-container.expanded .dni-input {
    opacity: 0;
    /* Ocultar el campo de entrada al expandirse */
}

.dropdown-content {
    display: none;
    /* Ocultar inicialmente */
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: relative;
    /* Posicionar dentro del contenedor padre */
    margin-top: 10px;
    /* Espaciado entre el campo de entrada y el contenido desplegable */
}

.dni-container.expanded .dropdown-content {
    display: block;
    opacity: 1;
}

.search-icon-container {
    width: 47px;
    height: 39px;
    background: transparent linear-gradient(180deg, #0BA290 0%, #27D79E 100%) 0% 0% no-repeat padding-box;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.dni-container.expanded .search-icon-container {
    opacity: 0;
    /* Ocultar la lupa al expandirse */
    pointer-events: none;
    /* Deshabilitar interacciones */
}

/* Estilos para el texto de confidencialidad */
.confidentiality-text {
    position: absolute;
    top: 417px;
    left: 57px;
    width: 270px;
    height: 63px;
    text-align: left;
    font: normal normal 300 12px / 12px Gotham;
    letter-spacing: -0.12px;
    color: #FFFFFF;
    opacity: 0.5;
}

.confidentiality-text strong {
    font: normal normal bold 12px/12px Gotham;
    letter-spacing: -0.12px;
    color: #FFFFFF;
}

/* Estilos para el botón "Siguiente" */
.next-button {
    position: absolute;
    top: 646px;
    left: 213px;
    width: 132px;
    height: 40px;
    background: transparent linear-gradient(73deg, #2ADC9F 0%, #099E8F 100%) 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.next-button span {
    display: flex;
    position: absolute;
    top: 9px;
    left: 18px;
    width: 64px;
    height: 20px;
    text-align: left;
    font: normal normal bold 15px / 20px Gotham;
    letter-spacing: -1px;
    color: #FFFFFF;
    opacity: 1;
}

.next-button .next-arrow {
    margin-left: 92px;
    width: 11px;
    top: 15px;
    opacity: 1;
    position: absolute;
}

.next-button span::after {

    font: normal normal bold 12px/20px Gotham;
    letter-spacing: -1px;
    color: #FFFFFF;
    opacity: 1;
}

/* Estilos para el botón "Cambiar solicitante" */
.change-applicant-button {
    width: 132px;
    height: 40px;
    background: linear-gradient(73deg, #2ADC9F 0%, #099E8F 100%);
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font: bold 12px/20px Gotham;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.dni-container.expanded .change-applicant-button {
    opacity: 1;
    left: 73px;
    /* position: absolute; */
    position: relative;
    margin-bottom: 9px;
    top: 4px;
}

/* Estilos para el menú hamburguesa */
.hamburguer-menu {
    position: absolute;
    top: 21px;
    left: 320px;
    width: 25px;
    height: 19px;
    cursor: pointer;
    opacity: 1;
    border-radius: 100px;
}

.hamburguer-menu .bar {
    height: 3px;
    background-color: #ffff;
    margin: 4px 0;
}

.hamburguer-menu .bar:nth-child(1) {
    width: 14.44px;
    justify-self: center;
    height: 2.28px;
}

.hamburguer-menu .bar:nth-child(2) {
    width: 25.08px;
    justify-self: center;
    height: 2.28px;
}

.hamburguer-menu .bar:nth-child(3) {
    width: 11.4px;
    justify-self: center;
    height: 2.28px;
}

/* Estilos para el logo */
.logo-container {
    position: relative;
    z-index: 9999;
    width: 6.8rem;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    top: 3px;
    margin-left: 14px;
}

.logo-container img {
    top: 69px;
    left: 34px;
    width: 90px;
    height: 21px;
    /* UI Properties */
    opacity: 1;
}

/* Estilos para el menú */
nav#menu {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100px;
    left: 320px;
    width: 200px;
    border-radius: 8px;
    padding: 10px;
}

nav#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav#menu ul li {
    margin-bottom: 10px;
}

nav#menu ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav#menu ul li a:hover {
    color: #2adc9f;
}

/* Estilos para el footer */
footer {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ccc;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .not-center {
    display: flex;
    align-items: center;
}

footer .social a {
    margin: 0 10px;
}

footer .social img {
    width: 24px;
    height: 24px;
}

.footer {
    position: absolute;
    top: 719px;
    left: 0px;
    width: 375px;
    height: 52px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

/* Estilos para el botón "INICIO" */
.inicio-button {
    /* position: absolute; */
    top: 739px;
    left: 23px;
    width: 96px;
    height: 40px;
    background: transparent linear-gradient(67deg, #2ADC9F 0%, #099E8F 100%) 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 18px;
}

.inicio-button .inicio-icon {
    position: absolute;
    left: 31px;
    top: 29px;
    width: 18px;
    height: 19px;
    opacity: 1;
    color: #FFFFFF;
}

.inicio-button .inicio-text {
    font: normal normal bold 12px/20px Gotham;
    position: absolute;
    color: #FFFFFF;
    left: 5rem;

}

/* Estilos para el rectángulo desplegable y la animación */
.dropdown {
    position: absolute;
    top: -65px;
    left: 0px;
    width: 320px;
    /* Ancho fijo */
    height: 226px;
    /* Altura fija */
    background: #FFFFFF;
    /* Fondo blanco */
    border-radius: 30px;
    opacity: 0;
    /* Comienza invisible */
    transform-origin: center;
    /* Expande y colapsa desde el centro */
    transform: scaleY(0);
    /* Comienza colapsado */
    transition: transform 0.5s ease, opacity 0.5s ease;
    /* Mantener la transición de apertura */
    z-index: 2;
    /* Asegurar que esté debajo del campo */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Añadir sombra para visibilidad */
    overflow: hidden;
    /* Evitar que el contenido se desborde */
    visibility: visible;
    /* Asegurar que sea visible inicialmente */
}

.dropdown.animate-dropdown {
    transform: scaleY(1);
    /* Expande completamente */
    opacity: 1;
    /* Hacer visible al desplegar */
    visibility: visible;
    /* Asegurar que sea visible */
}

.dropdown.hidden {
    transform: scaleY(0);
    /* Colapsar nuevamente */
    opacity: 0;
    /* Hacer invisible al colapsar */
    /* No cambiar visibility aquí, se maneja en JavaScript */
    transition: transform 0.5s ease, opacity 0.5s ease;
    /* Asegurar que coincida con la apertura */
}

.switch-container.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.inner-box {
    background: #F6F6F6 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    align-self: center;
    height: 114px;
}

.dropdown.animate-dropdown .inner-box {
    transform: translate(-50%, -50%) scale(1);
    /* Expande completamente */
    opacity: 1;
    /* Hacer visible */
}

.dropdown.hidden .inner-box {
    transform: translate(-50%, -50%) scale(0);
    /* Colapsar nuevamente */
    opacity: 0;
    /* Hacer invisible */
}

.inner-box-title {
    position: absolute;
    top: 33px;
    left: 13px;
    width: 265px;
    height: 19px;
    text-align: left;
    font: normal normal bold 13px / 13px Gotham;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.credit-viability-bar {
    width: 267px;
    height: 7px;
    background: linear-gradient(90deg, #1BBB10 0%, #FFDF00 51%, #FF0000 100%);
    border-radius: 12px;
    position: relative;
    top: 35px;
    left: 9px;
}

.credit-indicator {
    width: 6px;
    height: 19px;
    background: #26BD10;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    position: absolute;
    top: -6px;
    left: 0;
}

.credit-status-title {
    position: absolute;
    font: bold 12px / 13px Gotham;
    color: #06B312;
    margin-top: 13px;
    /* text-align: center; */
    top: 80px;
    left: 10px;
}

.credit-status-subtitle {
    font: 300 12px / 13px Gotham;
    position: absolute;
    color: #444444;
    margin-top: 5px;
    text-align: center;
    top: 100px;
    left: 11px;
}

/* Estilos para el perfil */
.profile-header {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Espaciado entre el ícono y el nombre */
    margin-bottom: 10px;
    /* Espaciado inferior */
    position: relative;
    /* Asegurar que se posicione correctamente */
}

.profile-icon {
    width: 24px;
    height: 24px;
    opacity: 1;
}

.profile-name {
    font: normal normal bold 14px / 15px Gotham;
    color: #444444;
    opacity: 1;
    margin: 0;
}