@media (max-width: 768px) {
    .table-scroll {
        width: 100%;
        overflow-x: auto;
    }

    .table-scroll table {
        min-width: 600px;
        /* O el ancho que necesites para mostrar todas las columnas */
        width: max-content;
        display: block;
        white-space: nowrap;
    }
}
.icono-descargar-excel svg {
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.icono-descargar-excel:hover svg {
    animation: subirBajar 0.6s infinite alternate;
}

@keyframes subirBajar {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-7px);
    }
}