body {
    background: transparent linear-gradient(205deg, #49495D 0%, #282840 47%, #25253D 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0e152c !important;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding-bottom: 2rem; /* Agregar margen inferior */
}

button {
    position: relative;
    text-align: center;
    padding: 10px 32px;
    font-size: var(--font-button);
    background-color: #0e152c !important;
    width: 164px;
    color: #fff;
    border-radius: 64px;
    box-shadow: 0 12px 24px -6px rgba(104, 73, 16, 0);
    margin-top: 2rem;
}

.sidebar .nav-link {
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
}

.sidebar .nav-link:hover {
    background-color: #1fe5b7;
    color: #fff;
}

.sidebar .navbar-brand {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-bottom: 7rem;
    margin-top: 2rem;
}

.main-content {
    margin-left: 250px;
    /* Ajustar el margen izquierdo para que no se superponga con el sidebar */
    padding: 20px;
    width: calc(100% - 250px);
    /* Ajustar el ancho para que ocupe el espacio restante */
    background: transparent linear-gradient(205deg, #49495D 0%, #282840 47%, #25253D 100%) 0% 0% no-repeat padding-box;
}

.content {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button .btn .btn-success {
    margin-top: 0.8rem;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .navbar .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .sidebar .nav-link {
        padding: 10px;
        text-align: center;
    }

    .sidebar .navbar-brand {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .content {
        padding: 10px;
    }

    table {
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
    }

    input[type="number"] {
        font-size: 1rem;
        padding: 5px;
        width: 3rem;
        height: 3rem;
        text-align: center;
    }
}