/* Estilos generales */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: transparent linear-gradient(205deg, #49495D 0%, #282840 47%, #25253D 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: transparent linear-gradient(205deg, #49495D 0%, #282840 47%, #25253D 100%) 0% 0% no-repeat padding-box;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #2adc9f;
    /* Color del título */
}

form {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.formLogin {
    max-width: 600px;
    margin: 20px auto;
    margin-top: 13rem;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #2adc9f;
    /* Color del texto del label */
    font-weight: bold;
}

input[type="number"],
input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0 5px 0;
    color: #0e152c;
    padding: .45rem 1.25rem;
    border-radius: 25px;
    border: 1px solid #1fe5b7;
    font-size: 1.5rem;
    background: 0 0;
    opacity: 1;
    font-family: gothamlight;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px;
    background-position: calc(100% - 15px) 60%;
    background-size: 10px;
}

/* Agrega una flecha hacia abajo al select */
select {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 1em;
}

button {
    position: relative;
    text-align: center;
    padding: 10px 32px;
    font-size: var(--font-button);
    background-color: #0e152c !important;
    width: 164px;
    color: #fff;
    border-radius: 64px;
    box-shadow: 0 12px 24px -6px rgba(104, 73, 16, 0);
    margin-top: 2rem;
}

.buttonCs {
    background-color: #0e152c !important;
    color: #fff;
    border-radius: 64px;
    box-shadow: 0 12px 24px -6px rgba(104, 73, 16, 0);
    padding: 10px 32px;
    font-size: var(--font-button);
    border: none;
    cursor: pointer;
}

button .button_outline {
    display: inline-flex;
    align-self: flex-start;
    overflow: hidden;
    border: 0;
    transform: translateY(0);
    font-weight: 700;
    min-width: 250px;
    box-shadow: 0 12px 24px -6px rgba(104, 73, 16, 0);
    transition: all .3scubic-bezier(.5, .5, .3, 1);
}

button:hover {
    background-color: #218838;
}

h2 {
    margin-top: 20px;
    color: #333;
}

/* Estilos para el popup modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e152c;
    padding: 10px 20px;
}

.navbar .logo {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-links .buttonCs {
    margin-left: auto;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .buttonCs {
        position: static;
        margin: 10px auto;
        display: block;
    }

    form {
        width: 90%;
        margin: 20px auto;
    }

    .formLogin {
        width: 90%;
        margin: 20px auto;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }
}